<footer>

</footer>
<script defer src="js/app.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpzMvLLpSwQ9wod-qDPBz7_F5Uf-n1oWk&callback=initMap"></script>
</body>
</html>