<footer>

</footer>
<script defer src="js/app.js"></script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2927MI8tG23Ug_lYfB5R5kMJkO05AB-k&callback=initMap&libraries=places&v=weekly">
    </script>
</body>
</html>