<%- include ('_header-nonav') -%>
<div class="container">
    <img src="img/logo.png" alt="logo.png" width="90%">
    <p>Départs de Nantes</p>

    <p id="result_sncf"></p>


</div>

<%- include ('_footer'); -%>