<%- include('_header'); -%>

<main id="main">

    <section id="jumbotron" class="py-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div>
                    <h1>Titre de ma page</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur assumenda at aut commodi
                        corporis debitis dignissimos distinctio dolorum eveniet fuga illo iste labore, libero nesciunt
                        nisi sed vitae voluptatem.</p>
                    <a href="/" class="btn btn-outline-ronan">Click me !</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="https://placehold.it/500x350/CB1919/ffffff?text=Coucou" alt="" loading="lazy" width="500" height="350">
                </div>
            </div>

        </div>
    </section>

    <section id="values" class="py-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-body">
                        <h3 class=" h4 card-title">Coucou les gens</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores, aut cum, dolore eum exercitationem illum impedit pariatur reprehenderit tenetur vero. Itaque, quaerat, vitae.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body">
                        <h3 class=" h4 card-title">Coucou les gens</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores, aut cum, dolore eum exercitationem illum impedit pariatur reprehenderit tenetur vero. Itaque, quaerat, vitae.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body">
                        <h3 class=" h4 card-title">Coucou les gens</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores, aut cum, dolore eum exercitationem illum impedit pariatur reprehenderit tenetur vero. Itaque, quaerat, vitae.</p>
                    </div>
                </div>
            </div>
          <div id="map"></div>


        </div>
    </section>

</main>

<%- include ('_footer'); -%>