<%- include ('_header-nonav') -%>
<div class="container">
    <img src="https://zupimages.net/up/20/37/owhl.png" alt="logo.png" width="90%">
    <p>Voyagez</p>
    <p>léger !</p>
</div>
<%- include ('_footer'); -%>