<%- include ('_header-nonav') -%>
<div class="container">
    <img src="img/logo.png" alt="logo.png" width="90%">
    <p>Me connecter</p>
    <form class="form">
        <div class="form-group">
            <label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </label>
        </div>
        <div class="form-group">
            <label>
            <input type="password" class="form-control" placeholder="Mot de passe">
            </label>
        </div>

        <div class="login-buttons">
            <!-- <button type="submit" class="btn btn-hiilta btn-lg">Créer mon compte !</button> -->
            <a href="/transport" class="btn btn-hiilta btn-lg">Let's go !</a>
        </div>
    </form>
</div>


<%- include ('_footer'); -%>
