<%- include ('_header-nonav') -%>
<div class="container">
    <img src="img/logo.png" alt="logo.png" width="90%">
    <p>Veuillez indiquer votre type de voiture</p>

    <div class="login-buttons">
        <a href="/voiture" class="btn btn-hiilta btn-lg disabled">Voiture</a>
        <a href="/map" class="btn btn-hiilta btn-sm">Diesel</a>
        <a href="/map" class="btn btn-hiilta btn-sm">Essence</a>
        <a href="/map" class="btn btn-hiilta btn-sm">Éléctrique</a>
        <a href="/map" class="btn btn-hiilta btn-sm">Aucun</a>

    </div>
</div>


<%- include ('_footer'); -%>