<%- include ('_header-nonav') -%>
<div class="container">
    <img src="https://zupimages.net/up/20/37/owhl.png" alt="logo.png" width="90%">
    <p>Bienvenue !</p>

    <div class="login-buttons">
        <a href="/" class="btn btn-hiilta btn-lg">M'inscrire</a>
        <a href="/" class="btn btn-hiilta btn-lg">Me connecter</a>
    </div>
</div>


<%- include ('_footer'); -%>