<%- include ('_header-nonav') -%>
<div class="container">
    <img src="img/logo.png" alt="logo.png" width="90%">
    <h1>Bienvenue !</h1>

    <div class="login-buttons">
        <a href="/" class="btn btn-hiilta btn-lg">M'inscrire</a>
        <a href="/" class="btn btn-hiilta btn-lg">Me connecter</a>
    </div>
</div>


<%- include ('_footer'); -%>