$theme-colors: (
        "hiilta": #2bff09
);

$btn-font-size-lg: 50px;
$btn-border-radius-lg: 50px;

$btn-font-size-sm: 40px;
$btn-border-radius-sm: 50px;
$btn-width-sm: 400px;

$input-border-width: 3px;
$input-border-radius: 20px;
$input-border-color: #2f2f2f;

/* Set the size of the div element that contains the map */
#map {
  height: 1000px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}